<div class="container">
<p>This is the Employee Component</p>
</div>

<div class="container">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Namn</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees.data">
        <td><span>{{employee.id}}</span></td>
        <td><span>{{employee.employee_name}}</span></td>
        <td><button class="btn btn-md btn-outline-primary" mat-raised-button
                    (click)="getEmployeeDetails(employee.id)">
            <i class="fa fa-search"></i>Info</button>
        </td>
        <td><button class="btn btn-md btn-outline-primary" mat-raised-button
                    (click)="open(content)">
            <i class="fa fa-search"></i>Test</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

    <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Employee details</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
              <label for="name">Name</label>
              <p>Test name</p>
              </div>
            
            <div class="form-group">
              <label for="salary">Salary</label>
              <p>Test salary</p>
            </div>
            
            <div class="form-group">
              <label for="age">Age</label>
              <p></p>
            </div>
            
            <div class="form-group">
              <label>Profile image</label>
              <p>Test image</p>
            </div>
          </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" mat-raised-button (click)="modal.close('Save click')">Stäng</button>
    </div>
  </ng-template>