/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.container {
    margin-top: 5%;
  }

.fa {
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: 10px;
  }

.border {
    padding: 10px;
  }

.btn {
    margin-right: 10px;

  }
  
.table {
    vertical-align: middle;
}

.img {
  border: 1px solid rgb(0, 0, 0);
  max-width: 200px;
}

.label {
  padding-bottom: 2px;
}

.preamble {
  /* font-style: oblique; */
  font-weight: bold;
  font-size: large;
}
  